@import url('https://fonts.googleapis.com/css2family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Spartan',sans-serif;
    /*background-color: #FFECEF;*/
    background-color: #FFF2F2;
}
h1{
    font-size: 2.5rem;
    font-weight: 400;
}
h2{
    font-size: 1.8rem;
    font-weight: 400;
}
h3{
    font-size: 1.4rem;
    /*font-weight: 800;*/
}
h4{
    font-size: 1.1rem;
    /*font-weight: 600;*/
    
}
h5{
    font-size: 1rem;
    /*font-weight: 400;*/
    color: #1d1d1d;
}
h6{
    color: #d8d8d8;
}
/*shop now button in showcase*/
button{
    font-size:1rem;
    background-color:#1d1d1d;
    color:#fff;
    padding: 13px 30px;
    cursor:pointer;/*cursor changes to hand on hovering*/
    text-transform:uppercase;
    transition:0.3s ease;/*hover speed and style*/

}
hr{
    width:50px;
    height:5px;
    background-color:#088178;
    
    /*border-top:5px solid #089f95*/
}
.star{
    padding:10px 0;
}
.star i{
    font-size: 0.8rem;
    color:goldenrod;

}
#home button{
    border-radius:6px;/*curved edges*/
}
/*hover effect to shop now button on showcase*/
button:hover{
    border:none;/*when hovered if color changed then black border is visible so remove it*/
    background-color:#51557E;
}

.navbar{
    font-size: 16px;
    top:0;
    left:0;
}
/*styling list on navbar*/
.navbar-light .navbar-nav .nav-link{
    padding: 0 ;
    margin:0 15px;
    color:black;
    transition:0.3s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active
.navbar i.active{
    color:#ff3c78;
}
/*styling search and cart icons on navbar*/ 
.navbar i{
    font-size: 1.2rem;
    padding:0 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s,ease;
}


/*removing border and outline of hamburger menu icon*/
.navbar-light .navbar-toggler{
    border:none;
    outline:none;
}


/*to create shadow effect to navbar*/
.navbar{
    box-shadow: 0 5px 15px rgba(0,0,0,0.06) ;

}


/*hovering underline under lists in navbar*/
a.nav-link{
    position:relative;/*to place hovering underline in absolute its position without hover must be relative*/   
}
a.nav-link::after{
    content:"";
    position:absolute;
    background-color: #ff3c78;
    height:3px;/*thickness of line*/
    width: 0;/*nothing before hovering*/
    left:0;/*thus element after title will land just paralelly with it*/
    bottom:-10px;/*after by default makes it to appear on top so bringing it to bottom to make underline*/
    transition: 0.3s ease;/*create effect one hovering*/
}
a.nav-link:hover::after/*order of hover and after is important syntactically*/
{
    width: 100%;/*while hovering width increases*/
    
}

/*change color of NEW ARRIVALS ON SHOW CASE*/
#home span{
    color:#773ed1;
}
#home{
    background-image: url("img/back.png");
    width:100%;
    height:100vh;
    background-size:cover;/*to cover the pics and stretch to fill the container*/
    background-position:top 60px center;/*head of girl gets cut if not positioned like this*/
    display:flex;
    align-items: center;/*align to centre of flex*/
}

/*customise hamburger menu icon*/
#bar{
    border:none;
    outline:none;
    font-size: 1.5rem;
    padding:7px;
    cursor:pointer;
    font-weight: 500;
    transition:0.3s ease;/*for hoveringeffect*/
    color:black;/*color of lines in the hamburger menu icon*/
}

@media only screen and (max-width:991px){
    /*for hover effect of hamburger menu*/
    body > nav > div > button:hover,
    body > nav > div > button:focus{
        background-color: #A084CF;/*bg clr as violet on hovering*/
    }
    body > nav > div > button:hover #bar,
    body > nav > div > button:focus #bar{
        color:#fff;/*lines in icon to be white on hovering*/
    }

    /*styling of navbar list when opened by clicking on hamburger menu..*/
    #navbarSupportedContent>ul{
        margin:1rem;
        justify-content:flex-end;/*to make it align towards right horizontally*/
       align-items:flex-end;/*takes them bottom most of container on vertical axis*/
    }
    #navbarSupportedContent > ul > li:nth-child(n)>a{
        padding:0px;
        margin:15px 0px;/*for correct placement of underlines in hovering effect*/
    }
}
/*styling new section with slant hover */
.card{
    position:relative;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.06) ;
}
.card:before{
    position :absolute;
    content:'';
    width:80%;
    height:220%;
    background: rgba(245,178,178,0.7);
    top:-50%;
    left:-100%;
    z-index:2;
    transform:rotate(25deg);
    transform-origin:center top 0;
    transition:0.5s;
}
.card:hover:before{
    left:10%;
}
.card img{
    width: 100%;
    height: 350px;;
    object-fit: fill;
}

.card-text{
    width:100%;
    padding:0 20px;
    position:absolute;
    top:-100%;
    color:black;
    left:0;
    z-index:2;
    transition:0.3s ease;
}
.card-text h4{
    font-weight:400;
    font-family: Spartan;
} 
.card:hover .card-text{
    top:50px;
}
.card-text button{
    display:inline-block;
    font-size: 14px;
    font-weight:500;
    color:black;
    background:none;
    text-transform:uppercase;
    border:none;
    border-bottom:1.5px solid black;
    padding:2.5px;

}

/*featured*/
#featured h3{/*styling "our featured"heading*/
    
    position:relative;
}
#featured h4{
    margin-top: 20px;
}
#featured h3::after{
    content:"";
    position:absolute;
    height:3px;/*thickness of line*/
    width: 50px;/*nothing before hovering*/
    left:48%;/*thus element after title will land just paralelly with it*/
    bottom:-10px;
    background-color: #088178;
    
}
.product{
    cursor: pointer;
    margin-bottom: 2rem;
}
/*to make the image lil dull while hovering*/
.product img{
    transition:0.3s all;
    object-fit: fill;
    width: 100%;
    height: 350px;
}
.product:hover img{
    opacity: 0.7;
}
/*customize buybtn*/
/*translate helps element to seem like translating while hovering*/
.product .buy-btn{
    margin-top: 5px;
    background:#088178;
    transform:translateY(0px);/*initially no translating*/
    opacity:0;/*since it shd dissapear*/
    transition:0.3s all;
    border:none;
}
.product:hover .buy-btn{
    transform:translateY(-8px);/*seem like cmg frm bottom to up about 8 px while hovering*/
    opacity:1
    
}
#feature .fe-box{
    width:180px;
    text-align:center;
    margin:40px 80px;
    padding:25px 15px;
    box-shadow:20px 20px 34px rgba(0, 0, 0, 0.03);
    border:1px solid black;
    border-radius:4px;
    background-color: #FAD4D4;
}
#feature .fe-box:hover{
    box-shadow:10px 10px 54px rgba(70,62,221,0.1);
}