@import url('https://fonts.googleapis.com/css2family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Spartan',sans-serif;
    /*background-color: #FFECEF;*/
    background-color: #FFF2F2;
}
h1{
    font-size: 2.5rem;
    font-weight: 400;
}
h2{
    font-size: 1.8rem;
    font-weight: 400;
}
h3{
    font-size: 1.4rem;
    /*font-weight: 800;*/
}
h4{
    font-size: 1.1rem;
    /*font-weight: 600;*/
    
}
h5{
    font-size: 1rem;
    /*font-weight: 400;*/
    color: #1d1d1d;
}
h6{
    color: #d8d8d8;
}
/*shop now button in showcase*/
button{
    font-size:1rem;
    background-color:#1d1d1d;
    color:#fff;
    padding: 13px 30px;
    cursor:pointer;/*cursor changes to hand on hovering*/
    text-transform:uppercase;
    transition:0.3s ease;/*hover speed and style*/

}
hr{
    width:50px;
    height:5px;
    background-color:#088178;
    
    /*border-top:5px solid #089f95*/
}
.star{
    padding:10px 0;
}
.star i{
    font-size: 0.8rem;
    color:goldenrod;

}
#home button{
    border-radius:6px;/*curved edges*/
}
/*hover effect to shop now button on showcase*/
button:hover{
    border:none;/*when hovered if color changed then black border is visible so remove it*/
    background-color:#51557E;
}

.navbar{
    font-size: 16px;
    top:0;
    left:0;
}
/*styling list on navbar*/
.navbar-light .navbar-nav .nav-link{
    padding: 0 ;
    margin:0 15px;
    color:black;
    transition:0.3s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link:active
.navbar:active i{
    color:#ff3c78;
}
.navbar-light .navbar-nav .nav-link> ul > li:nth-child(1){
    color:#ff3c78
}
/*styling search and cart icons on navbar*/ 
.navbar i{
    font-size: 1.2rem;
    padding:0 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s,ease;
}


/*removing border and outline of hamburger menu icon*/
.navbar-light .navbar-toggler{
    border:none;
    outline:none;
}


/*to create shadow effect to navbar*/
.navbar{
    box-shadow: 0 5px 15px rgba(0,0,0,0.06) ;

}


/*hovering underline under lists in navbar*/
a.nav-link{
    position:relative;/*to place hovering underline in absolute its position without hover must be relative*/   
}
a.nav-link::after{
    content:"";
    position:absolute;
    background-color: #ff3c78;
    height:3px;/*thickness of line*/
    width: 0;/*nothing before hovering*/
    left:0;/*thus element after title will land just paralelly with it*/
    bottom:-10px;/*after by default makes it to appear on top so bringing it to bottom to make underline*/
    transition: 0.3s ease;/*create effect one hovering*/
}
a.nav-link:hover::after/*order of hover and after is important syntactically*/
{
    width: 100%;/*while hovering width increases*/
    
}

/*change color of NEW ARRIVALS ON SHOW CASE*/
#home span{
    color:#773ed1;
}
#home{
    background-image: url("img/back.png");
    width:100%;
    height:100vh;
    background-size:cover;/*to cover the pics and stretch to fill the container*/
    background-position:top 60px center;/*head of girl gets cut if not positioned like this*/
    display:flex;
    align-items: center;/*align to centre of flex*/
}

/*customise hamburger menu icon*/
#bar{
    border:none;
    outline:none;
    font-size: 1.5rem;
    padding:7px;
    cursor:pointer;
    font-weight: 500;
    transition:0.3s ease;/*for hoveringeffect*/
    color:black;/*color of lines in the hamburger menu icon*/
}

@media only screen and (max-width:991px){
    /*for hover effect of hamburger menu*/
    body > nav > div > button:hover,
    body > nav > div > button:focus{
        background-color: #A084CF;/*bg clr as violet on hovering*/
    }
    body > nav > div > button:hover #bar,
    body > nav > div > button:focus #bar{
        color:#fff;/*lines in icon to be white on hovering*/
    }

    /*styling of navbar list when opened by clicking on hamburger menu..*/
    #navbarSupportedContent>ul{
        margin:1rem;
        justify-content:flex-end;/*to make it align towards right horizontally*/
       align-items:flex-end;/*takes them bottom most of container on vertical axis*/
    }
    #navbarSupportedContent > ul > li:nth-child(n)>a{
        padding:0px;
        margin:15px 0px;/*for correct placement of underlines in hovering effect*/
    }
}
/*styling new section with slant hover */
.card{
    position:relative;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.06) ;
}
.card:before{
    position :absolute;
    content:'';
    width:80%;
    height:220%;
    background: rgba(245,178,178,0.7);
    top:-50%;
    left:-100%;
    z-index:2;
    transform:rotate(25deg);
    transform-origin:center top 0;
    transition:0.5s;
}
.card:hover:before{
    left:10%;
}
.card img{
    width: 100%;
    height: 350px;;
    object-fit: fill;
}

.card-text{
    width:100%;
    padding:0 20px;
    position:absolute;
    top:-100%;
    color:black;
    left:0;
    z-index:2;
    transition:0.3s ease;
}
.card-text h4{
    font-weight:400;
    font-family: Spartan;
} 
.card:hover .card-text{
    top:50px;
}
.card-text button{
    display:inline-block;
    font-size: 14px;
    font-weight:500;
    color:black;
    background:none;
    text-transform:uppercase;
    border:none;
    border-bottom:1.5px solid black;
    padding:2.5px;

}
/*repairs banner*/
.r-banner{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: url("img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    
}
.r-banner h4{
    color: #fff;
    font-size: 16px;
}
.r-banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}
.r-banner h2 span{
    color: #ef3636;
}
.r-banner button{
    background-color:#fff;
    color:black;
    font-weight: 750;
}
.r-banner button:hover{
    background-color: #088178;
    color: white;
}

/*featured*/
#featured h3{/*styling "our featured"heading*/
    
    position:relative;
}
#featured h4{
    margin-top: 20px;
}
#featured h3::after{/*adding line btwn h4 and h3*/
    content:"";
    position:absolute;
    height:3px;/*thickness of line*/
    width: 50px;/*nothing before hovering*/
    left:48%;/*thus element after title will land just paralelly with it*/
    bottom:-10px;
    background-color: #088178;
    
}
.product{
    cursor: pointer;/*making cursor as hand when hovered over products in featured section*/
    margin-bottom: 2rem;
}

.product img{/*bringing all images to same height*/
    transition:0.3s all;
    object-fit: fill;
    width: 100%;
    height: 350px;
}
.product:hover img{
    opacity: 0.7;/*to make the image lil dull while hovering*/
}
/*customize buybtn*/
/*translate helps element to seem like translating while hovering*/
.product .buy-btn{
    margin-top: 5px;
    background:#088178;
    transform:translateY(0px);/*initially no translating*/
    opacity:0;/*since it shd dissapear*/
    transition:0.3s all;
    border:none;
}
.product:hover .buy-btn{
    transform:translateY(-8px);/*seem like cmg frm bottom to up about 8 px while hovering*/
    opacity:1
    
}


/*parallax background styling*/
#banner{
    background-image: url("img/parallax.jpg");
    width:100%;
    height:60vh;
    background-size:cover;/*to cover the pics and stretch to fill the container*/
    background-position:top 70px center;/*head of girl gets cut if not positioned like this*/
    /*background-repeat: no-repeat;*/
    background-attachment: fixed;
    display:flex;
    align-items: center;/*align to centre of flex*/
}
#banner h4{
    margin:0 10px;
    font-weight: 600;
}
#banner h1{
    font-weight: 600;
}
/*adding red paint background to shop now button*/
#banner button{
    background-image: url(img/button.png);
    background-color: transparent;
    border: 0;
    padding: 14px 80px 14px 55px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    background-repeat: no-repeat;
}
/*female clothes section*/
#clothes h3{/*styling "our featured"heading*/
    
    position:relative;
}
#clothes h4{
    margin-top: 20px;
}
#clothes h3::after{/*adding line btwn h4 and h3*/
    content:"";
    position:absolute;
    height:3px;/*thickness of line*/
    width: 50px;/*nothing before hovering*/
    left:48%;/*thus element after title will land just paralelly with it*/
    bottom:-10px;
    background-color:#ff3c78;
    
}
.product1{
    cursor: pointer;/*making cursor as hand when hovered over products in featured section*/
    margin-bottom: 2rem;
}

.product1 img{/*bringing all images to same height*/
    transition:0.3s all;
    object-fit: fill;
    width: 100%;
    height: 350px;
}
.product1:hover img{
    opacity: 0.7;/*to make the image lil dull while hovering*/
}
/*female clothes button styling*/
.product1 .buy-btn{
    margin-top: 5px;
    background:#ff3c78;
    transform:translateY(0px);/*initially no translating*/
    opacity:0;/*since it shd dissapear*/
    transition:0.3s all;
    border:none;
}
.product1:hover .buy-btn{
    transform:translateY(-8px);/*seem like cmg frm bottom to up about 8 px while hovering*/
    opacity:1
    
}

/*mens clothes stylimg*/

#m-clothes h3{/*styling "our featured"heading*/
    
    position:relative;
}
#m-clothes h4{
    margin-top: 20px;
}
#m-clothes h3::after{/*adding line btwn h4 and h3*/
    content:"";
    position:absolute;
    height:3px;/*thickness of line*/
    width: 50px;/*nothing before hovering*/
    left:48%;/*thus element after title will land just paralelly with it*/
    bottom:-10px;
    background-color:#083AA9;
    
}
.m-product{
    cursor: pointer;/*making cursor as hand when hovered over products in featured section*/
    margin-bottom: 2rem;
}

.m-product img{/*bringing all images to same height*/
    transition:0.3s all;
    object-fit: fill;
    width: 100%;
    height: 70%;
}
.m-product:hover img{
    opacity: 0.7;/*to make the image lil dull while hovering*/
}
/*male clothes button styling*/

.m-product .buy-btn{
    margin-top: 5px;
    background:#083AA9;
    transform:translateY(0px);/*initially no translating*/
    opacity:0;/*since it shd dissapear*/
    transition:0.3s all;
    border:none;
}
.m-product:hover .buy-btn{
    transform:translateY(-8px);/*seem like cmg frm bottom to up about 8 px while hovering*/
    opacity:1
    
}

/*watches styling*/
#Watches h3{/*styling "our featured"heading*/
    
    position:relative;
}
#Watches h4{
    margin-top: 20px;
}
#Watches h3::after{/*adding line btwn h4 and h3*/
    content:"";
    position:absolute;
    height:3px;/*thickness of line*/
    width: 50px;/*nothing before hovering*/
    left:48%;/*thus element after title will land just paralelly with it*/
    bottom:-10px;
    background-color:#42032C;
    
}
.w-product{
    cursor: pointer;/*making cursor as hand when hovered over products in featured section*/
    margin-bottom: 2rem;
}

.w-product img{/*bringing all images to same height*/
    transition:0.3s all;
    object-fit: fill;
    width: 100%;
    
}
.w-product:hover img{
    opacity: 0.7;/*to make the image lil dull while hovering*/
}
/*watches button styling*/
.w-product .buy-btn{
    margin-top: 5px;
    background:#42032C;
    transform:translateY(0px);/*initially no translating*/
    opacity:0;/*since it shd dissapear*/
    transition:0.3s all;
    border:none;
}
.w-product:hover .buy-btn{
    transform:translateY(-8px);/*seem like cmg frm bottom to up about 8 px while hovering*/
    opacity:1
    
}
.newsletter{
    background:url(img/newsletter.jpg) no-repeat center;
    background-size: cover;
    padding:30px 40px;
    text-align:center;
    color:black;
    
}
.newletter p{
    max-width: 600px;
    margin:40px auto;
    font-size:15px;
    font-weight: 300;
}
.email-box{
    height:40px;
    display:flex;
    justify-content:center;
    transition:0.3s ease;
}
.email-box i{
    background:#2f3542;
    color:white;
    width:40px;
    /*padding-top:10px;*/
    line-height:40px;
    border-radius: 4px;
}
.tbox,
.btn{
    border:none;
    outline:none;
    transition:0.7s ease;
    border-radius: 4px;
}
.tbox{
    width:0px;
    

}
.email-box:hover>.tbox,.tbox:focus{
    width:260px;
    padding:0 10px;
}
.btn{
    background:#252b38;;
    color:white;
    padding:0 10px;
    text-transform:uppercase;
    cursor:pointer;
}
footer{
    background-color: #222;
    /*dark bg*/
    margin-bottom:15px;
    padding-bottom: 0;
}
footer h5{
    color:#d8d8d8;
    font-weight: 700;
    font-size: 1.2rem;
    /*to make headings light*/
}
footer li{
    padding-bottom: 4px;
}
footer li a{
    font-size:1rem;
    text-decoration:none;
    color:#999;
    /*list items make light*/
}
footer li a:hover{
    color: #9264db;

}
footer p{
    color:#999;
    font-size:1rem;
}
/*social media icons styling*/
body > footer > div.copyright > div > div.col-lg-4.col-md-6.col-sm-12.m{
    padding-left:80px;
    margin-right:5px;
    margin-top: 0px;
    padding-bottom: 15px;
}

footer .copyright a{
    color:#000;
    width:38px;
    height:38px;
    background-color:#fff;
    display:inline-block;
    text-align:center;
    justify-content: center;
    align-items: center;
    line-height: 38px;
    border-radius: 50%;
    transition:0.3s ease;
    margin:5px;
}
footer .copyright a:hover{
    color:#fff;
    background-color: #9264db;
}


#feature .fe-box{
    width:180px;
    text-align:center;
    margin:40px 80px;
    padding:25px 15px;
    box-shadow:20px 20px 34px rgba(0, 0, 0, 0.03);
    border:1px solid black;
    border-radius:4px;
    background-color: #FAD4D4;
}
#feature .fe-box:hover{
    box-shadow:10px 10px 54px rgba(70,62,221,0.1);
}